<% provide(:title, "Home") %>
<section class="home p-5">
  <div class="row p-1 justify-content-center text-center">
    <div class="col-sm-8 border border-info rounded about">
      <h2 class="m-3">SocialRails</h2>
      <p>SocialRails is inspired by <a href="https://www.facebook.com/">Facebook.</a> Users can sign up, post, comment, like, and add friends.</p>
      <p>This site is built with Ruby on Rails, Bootstrap, Font Awesome, and Devise.</p>
      <p>If you want to get in touch with the creator please follow one of the links in the footer.</p>
      <p>Created by</p>
      <p>Michael Palhidai</p>
    </div>
  </div>
</section>
