<div class="row justify-content-center py-5">
  <div class="col-lg-8 col-md-10">
    <h2>My Friends</h2>
    <% if @friends.empty? %>
      <div class="py-5">
        <%= link_to "Make some more friends here", users_path %>
      </div>
    <% else %>
      <% @friends.each do |friend| %>
      <% friend.requesting.id == current_user.id ? show_friend = friend.requested : show_friend = friend.requesting %>
      <div class="row py-3">
        <div class="col-12 p-0 align-items-center d-flex user-list">
          <div class="tiny-pic d-inline-flex">
            <% unless show_friend.profile.avatar.attached? %>
              <%= image_tag gravatar_url(show_friend.profile.user.email, 300), alt: "default image", class: "img-fluid rounded" %>
            <% else %>
              <%= image_tag show_friend.profile.profile_pic, alt: "avatar", class: "img-fluid rounded" %>
            <% end %>
          </div>
          <p class="d-inline mx-3 mb-0">
            <%= link_to "#{show_friend.first_name} #{show_friend.last_name}", profile_path(show_friend.profile.id) %>
          </p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
