<div class="row justify-content-center py-5">
  <div class="col-lg-8 col-md-10">
    <h2>My Friends</h2>
    <% @friends.each do |friend| %>
    <div class="row py-3">
      <div class="col-12 p-0 align-items-center d-flex user-list">
        <div class="tiny-pic d-inline-flex">
          <% unless friend.profile.avatar.attached? %>
            <%= image_tag gravatar_url(friend.profile.user.email, 300), alt: "default image", class: "img-fluid rounded" %>
          <% else %>
            <%= image_tag friend.profile.profile_pic, alt: "avatar", class: "img-fluid rounded" %>
          <% end %>
        </div>
        <p class="d-inline mx-3 mb-0">
          <%=link_to "#{friend.first_name} #{friend.last_name}", profile_path(friend.profile.id) %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
