<% provide(:title, "My friends") %>

<div class="row justify-content-center">
  <div class="col-8">
    <h2>My Friends</h2>
    <% @friends.each do |friend| %>
      <div class="user-list">
        <p>
          <%#= image_tag friend.profile.avatar %>
          <%=link_to "#{friend.first_name} #{friend.last_name}", profile_path(friend.id) %>
        </p>
      </div>
    <% end %>
  </div>
</div>
