<% provide(:title, "What is going on in your network") %>

<div class="row justify-content-center py-5">
  <div class="col-8">
    <%= render 'posts/new' %>
    <%= render 'posts/index' %>
  </div>
</div>
